*{
    margin: 0px;
    /* background-color: azure; */
}
body{
    background-color: rgba(20, 20, 20, 0.915);
}
.img1{
    height: 150px;
    width: 150px;
}
.s1{
    height: 95vh;
    background-image: url('https://help.nflxext.com/0af6ce3e-b27a-4722-a5f0-e32af4df3045_what_is_netflix_5_en.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    margin-bottom: 10px;
}
.up{
    display: flex;
    /* background-color: rgb(0, 136wh, 255); */
    justify-content: space-around;
    /* align-items: center; */

}
.t1{
    font-family: "Kanit", sans-serif;
}
.sideleft{
    display: flex;
    /* justify-content: start; */
    /* align-items: flex-start; */
    /* background-color: aqua; */
}
.sideright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
   /* background-color: aliceblue; */
   width: 50%;
}
.sideright select{
    height: 30px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: transparent;
    color: aliceblue;
}
.sideright option{
    color: rgb(0, 0, 0);
}
button{
    background-color: transparent;
    color: aliceblue;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.center {
    padding: auto;
    margin: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    /* background-color: aqua; */
}
.centercontainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    /* background-color: bei; */
    align-items: center;
}
.centercontainer input{
    background-color: rgba(0, 0, 0, 0);
    height: 10px;
    width: 300px;
    border: 2px solid rgb(180, 180, 180);
      border-radius: 5px;
      padding: 20px;
      color: aliceblue;
}
.btn{
    height: 45px;
    border-radius: 5px;
    width: 150px;
 background-color: red;  
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;

 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.btn1{
    background-color: red;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

    cursor: pointer;
}
.btn1 :hover{
    background-color: #ff000025
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    /* margin: 30px; */
}
.s2{
    height: 80vh;
    background-color: azure;
    display: flex;
    background-color: black;
    /* justify-content: center;
    align-items: center; */
}
.s2left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* margin: auto; */
    align-items: center;
    flex-direction: column;
    /* background-color: wheat; */
}
.s2left h1{
 /* background-color: wheat; */
 width: 75%;
 display: flex;
 justify-content: flex-start;   
}

.s2right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}
.s2right img {
    height: 300px;
    border-radius: 30px;
    width: auto;
}
.s3{
    height: 80vh;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    display: flex;

}
.s3left{
    width: 50%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.s3left img{
    height: 450px;
    width: auto;
}
.s3right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: antiquewhite; */
}
.s4{
    height: 80vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 10px;
    background-color: black;

}
.s4left{
width: 50%;

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
/* background-color: aliceblue; */
}
.s4right{
display: flex;
justify-content: center;
align-items: center;
width: 50%;
}
.s4right img{
height: 300px;
width: auto;
}
.s5{
height: 80vh;
width: 100%;
display: flex;
background-color: black;
margin-top: 10px;
}
.s5img{
width: 50%;
display: flex;
/* background-color: aliceblue; */
justify-content: flex-end;
align-items: center;
}
.s5text{
/* background-color: rgba(166, 255, 0, 0.944); */
width: 50%;
display: flex;
justify-content: center;
align-items: start;
flex-direction: column;
}
.p1{
font-family: "IBM Plex Sans", sans-serif;
}
.s6{
height: auto;
background-color: black;
margin-top: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.quest{
font-family: "Kanit", sans-serif;
/* text-align: center; */
height: 200px;
/* background-color: aqua; */
display: flex;
justify-content: center;
align-items: center;
}
summary{
background-color: #333333a8;
/* width: 100%; */
height: 50px;
/* text-align: center; */
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
font-size: 22px;
color: aliceblue;

}
summary:hover{
background-color: #333333ff;

}
details p{
background-color: #333333a8;
}
.bottom{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
/* background-color: aliceblue; */
}
.tags{
width: 80%;
margin: 10px;
}
.lobottom input{
    background-color: rgba(0, 0, 0, 0);
    height: 10px;
    width: 300px;
    border: 2px solid rgb(180, 180, 180);
      border-radius: 5px;
      padding: 20px;
      color: aliceblue;
}
.lobottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}



    